{% extends "layout.html" %}

{% block content%}
    <div class="content-section">
    <form method="POST" action="">
        {{ form_diags.hidden_tag() }}
        <fieldset class="form-group">
        <legend class="border-bottom mb-4">Add Diagnosis</legend>
        <div class="form-group">
            {{ form_diags.diag.label(class="form-control-label") }}

            {% if form_diags.diag.errors %}
                {{ form_diags.diag(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form_diags.diag.errors %}
                        <span>{{ error }}</span>
                    {%endfor%}
                </div>
            {%else%}
                {{ form_diags.diag(class="form-control form-control-lg") }}
            {%endif%}
        </div>
        <div class="form-group">
            {{ form_diags.to_patient.label(class="form-control-label") }}

            {% if form_diags.to_patient.errors %}
                {{ form_diags.to_patient(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form_diags.to_patient.errors %}
                        <span>{{ error }}</span>
                    {%endfor%}
                </div>
            {%else%}
                {{ form_diags.to_patient(class="form-control form-control-lg") }}
            {%endif%}
        </div>
        <div class="form-group">
            {{ form_diags.upd_2(class="btn btn-outline-info") }}
        </div>
        </fieldset>
    </form>
    </div>
{% endblock content%}
