{% extends "layout.html" %}

{% block content%}
    <div class="content-section">
    <ul class="list-group">
        <li class="list-group-item active">Profile</li>
        <li class="list-group-item">PatientID : {{profile.Patient_ID}}</li>
        <li class="list-group-item">Name : {{profile.Patient_Name}}</li>
        <li class="list-group-item">Phone No : {{profile.Phone_No}}</li>
        <li class="list-group-item">Gender : {{profile.Gender}}</li>
        <li class="list-group-item">Address : {{profile.Address}}</li>
    </ul>
    </div>

    <div class="content-section">
    <ul class="list-group">
        <li class="list-group-item active">Your Doctor's Profile</li>
        <li class="list-group-item">Doctor's Name : {{doctorprofile.Doctor_Name}}</li>
        <li class="list-group-item">Speciality : {{doctorprofile.Speciality}}</li>
        <li class="list-group-item">Phone No : {{doctorprofile.Phone_No}}</li>
        <li class="list-group-item">Gender : {{doctorprofile.Gender}}</li>
        <li class="list-group-item">Address : {{doctorprofile.Address}}</li>
    </ul>
    </div>

    <div class="content-section">
    <table class="table">
        <caption>Meetings</caption>
        <thead class="thead-dark">
            <th scope="col">Record No</th>
            <th scope="col">Description</th>
            <th scope="col">Appointment Date</th>
        </thead>
        <tbody>
            {% for meeting in meetings %}
                    <tr>
                        <th scope="row">{{meeting.Record_No}}</th>
                        <td>{{meeting.DescriptionColumn}}</td>
                        <td>{{meeting.Appointment}}</td>
                    </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>

    <div class="content-section">
    <table class="table">
        <caption>Medicines</caption>
        <thead class="thead-dark">
            <th scope="col">Medicine Name</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price per Box</th>
        </thead>
        <tbody>
            {% for medicine in medicines %}
                    <tr>
                        <th>{{medicine.MedicineName}}</th>
                        <td>{{medicine.Quantity}}</td>
                        <td>{{medicine.Price}}</td>
                    </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>

    <div class="content-section">
    <table class="table">
        <caption>Records</caption>
        <thead class="thead-dark">
            <th scope="col">Record ID</th>
            <th scope="col">Admittion Date</th>
            <th scope="col">Discharging Date</th>
        </thead>
        <tbody>
            {% for record in records %}
                    <tr>
                        <th scope="row">{{record.Record_ID}}</th>
                        <td>{{record.Date_Admitted}}</td>
                        <td>{{record.Date_Discharged}}</td>
                    </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>

    <div class="content-section">
    <table class="table">
        <caption>Diagnoses</caption>
        <thead class="thead-dark">
            <th scope="col">Diagnosis ID</th>
            <th scope="col">Result</th>
        </thead>
        <tbody>
            {% for diagnose in diagnoses %}
                    <tr>
                        <th scope="row">{{diagnose.Diagnosis_ID}}</th>
                        <td>{{diagnose.Result}}</td>
                    </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>

    <div class="content-section">
    <table class="table">
        <caption>Room Information</caption>
        <thead class="thead-dark">
            <th scope="col">Room ID</th>
            <th scope="col">Type of Room</th>
            <th scope="col">Nurse of Room</th>
            <th scope="col">Phone of Nurse</th>
        </thead>
        <tbody>
            {% for room in roominfo %}
                    <tr>
                        <th scope="row">{{room.Room_ID}}</th>
                        <td>{{room.RoomType}}</td>
                        <td>{{room.Nurse_Name}}</td>
                        <td>{{room.Phone_No}}</td>
                    </tr>
            {%endfor%}
        </tbody>
    </table>
    </div>

    <div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
        <legend class="border-bottom mb-4">New Meeting</legend>
        <div class="form-group">
            {{ form.description.label(class="form-control-label") }}

            {% if form.description.errors %}
                {{ form.description(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                        <span>{{ error }}</span>
                    {%endfor%}
                </div>
            {%else%}
                {{ form.description(class="form-control form-control-lg") }}
            {%endif%}
        </div>
        <div class="form-group">
            {{ form.appointment.label(class="form-control-label") }}

            {% if form.appointment.errors %}
                {{ form.appointment(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.appointment.errors %}
                        <span>{{ error }}</span>
                    {%endfor%}
                </div>
            {%else%}
                {{ form.appointment(class="form-control form-control-lg") }}
            {%endif%}
        </div>
        <div class="form-group">
            {{ form.add(class="btn btn-outline-info") }}
        </div>
        </fieldset>
    </form>
    </div>

    <div class="content-section">
    <form method="POST" action="">
        {{ form2.hidden_tag() }}
        <fieldset class="form-group">
        <legend class="border-bottom mb-4">Update Meeting</legend>
        <div class="form-group">
            {{ form2.recordID.label(class="form-control-label") }}

            {% if form2.recordID.errors %}
                {{ form2.recordID(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form2.recordID.errors %}
                        <span>{{ error }}</span>
                    {%endfor%}
                </div>
            {%else%}
                {{ form2.recordID(class="form-control form-control-lg") }}
            {%endif%}
        </div>
        <div class="form-group">
            {{ form2.appointmentupd.label(class="form-control-label") }}

            {% if form2.appointmentupd.errors %}
                {{ form2.appointmentupd(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form2.appointmentupd.errors %}
                        <span>{{ error }}</span>
                    {%endfor%}
                </div>
            {%else%}
                {{ form2.appointmentupd(class="form-control form-control-lg") }}
            {%endif%}
        </div>
        <div class="form-group">
            {{ form2.upd(class="btn btn-outline-info") }}
        </div>
        </fieldset>
    </form>
    </div>

    <div class="content-section">
    <form method="POST" action="">
        {{ form3.hidden_tag() }}
        <fieldset class="form-group">
        <legend class="border-bottom mb-4">Delete Meeting</legend>
        <div class="form-group">
            {{ form3.recordIDdel.label(class="form-control-label") }}

            {% if form3.recordIDdel.errors %}
                {{ form3.recordIDdel(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form3.recordIDdel.errors %}
                        <span>{{ error }}</span>
                    {%endfor%}
                </div>
            {%else%}
                {{ form3.recordIDdel(class="form-control form-control-lg") }}
            {%endif%}
        </div>
        <div class="form-group">
            {{ form3.dele(class="btn btn-outline-info") }}
        </div>
        </fieldset>
    </form>
    </div>
{% endblock content%}
